snippet setTimeout
setTimeout(${1:()} => ${2:fn}, ${3:timeout});
endsnippet

snippet awaitEmptyPromise
await new Promise(() => {});
endsnippet

snippet awaitTimeoutPromise
await new Promise(c => setTimeout(c, ${1:1000}));
endsnippet
